<h1>Chat Room</h1>
<div id="messages">
  <%= render @messages %>
</div>
<form class="" method="post">
  <label for="">Say something:</label>
  <input type="text" name="" value="" data-behavior='room_speaker'>
</form>
